<!DOCTYPE html>
<html>

<head>
    <title>1090 Day Nine and Ten Assignment</title>
    <link href="https://andybrewer.github.io/mvp/mvp.css" rel="stylesheet">
    </link>
</head>

<body>

    <header>
        <h1>1090 news</h1>
        {% if orderBy == 'popular' %}
        <div>
            Order by:
            <strong>Popular</strong>
            |
            <a href="/?order_by=new">New</a>
        </div>
        {% elif orderBy == 'new' %}
        <div>
            Order by:
            <a href="/?order_by=popular">Popular</a>
            |
            <strong>New</strong>
        </div>
        {% endif %}

    </header>
    <main>
        {% for post in posts %}
        <div>
            <div>
                <a href="{{ url_for('comments', id=post['objectID'])}}">{{post["title"]}}</a>
                (<a href="{{post['url']}}" target="_blank">{{post['url']}}</a>)
            </div>
            <div> {{post["points"]}} points | By: {{post["author"]}} | {{post["num_comments"]}} comments </div>
        </div>
        <hr>
        {% endfor %}
    </main>
</body>




</html>